<head>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <h1>{{name}}</h1>

    <div>
        <h2>Zhrnutie</h2>
        <table>
            <tr>
                <td>Dĺžka:</td>
                <td>{{'%0.2f'| format(stats.length|float)}}</td>
            </tr>
            <tr>
                <td>Uphill:</td>
                <td>{{stats.uphill|int}}</td>
            </tr>
            <tr>
                <td>Downhill:</td>
                <td>{{stats.downhill|int}}</td>
            </tr>
            <tr>
                <td>Čas:</td>
                <td>{{stats.time}}</td>
            </tr>
        </table>
    </div>
    <div>
        <h2>Itenerár:</h2>
        <table id="iterinary">
            {% for point in schedule %}
            <tr>
                <td>
                    {% if point.travel_by=='foot' %}
                    <span class="material-icons">hiking</span>
                    {% elif point.travel_by=='car' %}
                    <span class="material-icons">car</span>
                    {% endif %}
                </td>

                <td>{% if point.from %}{{point.from}}{% endif %}</td>
                <td>{% if point.to and point.from %}-{% endif %}</td>
                <td>{% if point.to %}{{point.to}}{% endif %}</td>
                <td>{{point.name}}</td>
                {% if point.stats %}
                <td>{{point.stats.uphill|int}}</td>
                <td>{{point.stats.downhill|int}}</td>
                <td>{{'%0.2f'| format(point.stats.length|float)}}</td>

                {% else %}
                <td colspan="3">{{point.description or ''}}</td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
    </div>
</body>